body {font-family:'Poppins',sans-serif; background-color:#1c202b;color:#fff;text-align:center;margin:0;padding:0;}

.title {
  font-size:48px;
  margin-bottom:10px
}

.search-container { margin:20px auto; width:50%; }

.input-wrapper { position:relative; display:inline-block; width:100%; }

.search-icon { position:absolute; top:50%; left:10px; transform:translateY(-50%); color:#fff; pointer-events:none }

#search-input, #api-search-input { width:100%; padding:10px 10px 10px 38px; font-size:18px; border:none; border-radius:5px; outline:none; background-color:#2a2f3a; color:#fff }

#typewriter { color:#fff; font-size:18px; margin-bottom:10px }

.game-list { margin-top:20px; width:69%; margin-left:auto; margin-right:auto }

.game-item {
  display:flex; justify-content:space-between; align-items:center;
  margin:10px 0; padding:15px; background-color:#2a2f3a;
  border-radius:5px;
}

.game-info {text-align:left;flex-grow:1}

.game-details { display:flex; align-items:center; justify-content:flex-end; gap:30px }

.add-btn, .edit-btn, .delete-btn { color:#fff; border:none; padding:5px 10px; border-radius:5px; cursor:pointer; font-size:16px }

.add-btn { background:#4CAF50; }
.add-btn:hover { background:#45a049; transform:scale(1.05) }

.edit-btn { background:#006400; margin-right:0 }
.edit-btn:hover { background:#004d00; transform:scale(1.05) }

.delete-btn { background:#610000; }
.delete-btn:hover { background:#4e0000; transform:scale(1.05) }

li { list-style-type:none; }