body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, #1c202b, #2e3241, #1c202b, #0e0f14);
    background-size: 400% 400%;
    animation: gradient 15s infinite alternate ease-in-out, pulse 10s infinite alternate ease-in-out;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
  }
  
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  @keyframes pulse {
    0%, 100% { filter: brightness(1); }
    50% { filter: brightness(1.3); }
  }
  
  .app {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box
  }
  
  h1 { font-size: 2.5rem; margin: 0 }
  
  p { font-size: 1rem; margin-top: -15px; color: #bbb }
  
  input[type="text"] {
    width: 100%; padding: 10px;
    font-size: 1rem; border: 2px solid #6a5acd;
    border-radius: 5px; background: #2e3241;
    color: #fff; outline: none;
  }
  
  input[type="text"]:disabled {
    background: #555; color: #aaa; border-color: #555
  }
  
  button {
    display: flex; justify-content: center;
    align-items: center; text-align: center;
    padding: 10px 20px; font-size: 1.1rem;
    border: none; border-radius: 25px;
    cursor: pointer; transition: all 0.3s ease
  }
  
  .sh-button { background: #6a5acd; color: #fff }
  
  .sh-button:disabled { background: #555; cursor: not-allowed }
  
  .sh-button:hover:not(:disabled) { background: #9589fd }
  
  .ta-button {
    position: absolute;
    bottom: 15%; 
    left: 50%;
    transform: translateX(-50%);
    background: #470100; 
    color: #fff;
    padding: 8px 16px; 
    border-radius: 20px;
    font-size: 1.1rem; 
    border: none;
    cursor: pointer; 
    transition: all 0.3s ease;
    
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    animation-delay: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  .ta-button:hover { background: #800200 }
  
  .ta-button:active { transform: translateX(-50%) scale(.95) }
  
  .ball {
    width: 69vmin; height: 69vmin;
    background: radial-gradient(circle at 30% 30%, #000, #000 85%, #444 87%, #fff 95%);
    border-radius: 50%; box-shadow:
      0 0 40px rgba(0, 0, 0, 0.8),
      inset 0 0 35px rgba(255, 255, 255, 0.1),
      inset 0 0 25px rgba(255, 255, 255, 0.2);
    position: relative; display: flex;
    justify-content: center; align-items: center;
    overflow: hidden
  }
  
  .ball::before {
    content: ''; position: absolute;
    top: -10%; left: 20%;
    width: 85%; height: 85%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%; pointer-events: none;
    opacity: .8; z-index: 1
  }
  
  .ball.shake {
    animation: shake 1.5s cubic-bezier(0.36, 0, 0.66, -0.56);
 }
 
 @keyframes shake {
    0%, 100% { transform: rotate(0deg) translate(0, 0); }
    10% { transform: rotate(-7deg) translate(-25px, 10px); }
    20% { transform: rotate(7deg) translate(25px, -10px); }
    30% { transform: rotate(-10deg) translate(-30px, 15px); }
    40% { transform: rotate(10deg) translate(30px, -15px); }
    50% { transform: rotate(-5deg) translate(-35px, 20px); }
    60% { transform: rotate(5deg) translate(35px, -20px); }
    70% { transform: rotate(-8deg) translate(-25px, 10px); }
    80% { transform: rotate(8deg) translate(25px, -10px); }
    90% { transform: rotate(0deg) translate(0, 0); }
 }
  
  .ball-in-2 {
    width: 50%; height: 50%;
    border: 7px solid #6a5acd; border-radius: 50%;
    display: flex; justify-content: center;
    align-items: center; background: #000;
    z-index: 2; box-shadow: 0 0 15px rgba(106, 90, 205, 0.5)
  }
  
  .ball-in {
    width: 97%; height: 97%;
    background: #050505; border: 9px solid #f5e4e4;
    border-radius: 50%; box-shadow:
      0 0 40px rgba(0, 0, 0, 0.8),
      inset 0 0 35px rgba(255, 255, 255, 0.1),
      inset 0 0 25px rgba(255, 255, 255, 0.2);
    display: flex; justify-content: center;
    align-items: center; overflow: hidden;
    z-index: 3
  }
  
  @keyframes flip-in {
    0% { transform: rotateX(90deg) rotateY(-90deg) scale(.5); opacity: 0 }
    50% { transform: rotateX(45deg) rotateY(-45deg) scale(.8); opacity: .5 }
    100% { transform: rotateX(0deg) rotateY(0deg) scale(1); opacity: 1 }
  }
  
  @keyframes fade-out {
    0% { transform: scale(1); opacity: 1 }
    100% { transform: scale(.69); opacity: 0 }
  }
  
  .ball-in img {
    display: block; max-width: 100%;
    max-height: 100%; transform-origin: left top
  }
  
  .ball-in img.flip-in {
    animation: flip-in 1.5s ease-in-out
  }
  
  .ball-in img.fade-out {
    animation: fade-out 1.5s ease-in-out
  }
  
  .ph-triangle {
    position: relative;
    width: 69%; height: 50%;
    margin-top: 69px; background: linear-gradient(135deg, #150099, #3888ff);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    display: flex; justify-content: center;
    align-items: flex-start; padding: 10px;
    color: #fff; font-size: 1rem;
    line-height: 1.2; text-align: center;
    word-wrap: break-word; overflow: hidden
  }
  
  .ph-triangle p {
    margin-top: 15%; padding: 10px;
    max-width: 55%; max-height: 65%;
    word-break: break-word; white-space: normal;
    text-align: center; font-size: calc(1rem + .2vw)
  }
  
  .ph-triangle.flip-in {
    animation: flip-in 1.5s ease-in-out
  }
  
  .ph-triangle.fade-out {
    animation: fade-out 1.5s ease-in-out
  }  